body
    padding: 0px
    margin: 0px
    overflow: hidden
canvas
    background: #00534b

.side-menu-wrapper
    background: #bbbbbb
    height: 96vh
    right: 0
    max-width: 300px
    min-width: 100px
    padding: 10px
    position: absolute
    overflow-y: scroll
.game-field-wrapper
    overflow: hidden

footer
    position: absolute
    display: block
    bottom: 0
    color: #ffffff

.main-banner-cover
    position: absolute
    background: rgba(0, 0, 0, 0.1)
    width: 100vw
    height: 100vh
    z-index: 100