*
    color: #221828
legend
    h3
        margin: 0px
label
    p
        font-size: 14px
input
    padding: 10px
    width: 91%
    border-radius: 7px
    border: 0px

.side-instrumental-panel
    overflow-y: scroll
    max-height: 350px
    display: flex
    flex-wrap: wrap
    li
        list-style: none
    img
        padding: 10px
        display: block
        margin: 0 auto
        width: 54px
.selected-item-preview
    position: absolute
    z-index: 100
.inner-content
    background: #ffffff
    border-radius: 5px
    padding: 20px
    text-align: center
    max-width: 70%
    min-height: 300px
    overflow-y: scroll
    right: 0
    float: right
    max-height: 90%
    hr
        color: #eaeaea
    .single-item-wrapper
        cursor: pointer
        padding: 5px
    .single-item-wrapper:hover
        background: #4d4263
        color: #fff
        h2
            color: #ffffff
.inner-description-fields-wrapper
    background: #ffffff
    border-radius: 5px
    padding: 20px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    grid-gap: 20px
    .single-block-description
        color: #715184
        input
            background: #bbb
        span
            border-radius: 10px
            background: #3a61bd
            padding: 5px
            margin-top: 5px
            position: relative
            display: inline-block
            font-size: 12px
            color: #ffffff
.active-button
    background: #ff961e

.side-panel-success
    color: #539700
    border: 1px solid #539700
    padding: 5px
.side-panel-error
    color: #b10000
    border: 1px solid #b10000
    padding: 5px

.block-description-wrapper
    text-align: left
    display: flex
    flex-wrap: wrap
    img
        max-width: 100%
.single-block-description
    text-align: left
    padding: 5px
    width: 43%
    textarea
        width: 100%
        padding: 5px
        margin-top: 10px
        margin-bottom: 5px
        border-radius: 5px
        border: 1px solid #dfdfdf
        background: #bbb

.close-dialog
    color: #fff
    background: none
    padding: 20px
    border: none
    font-size: 29px
    position: absolute
    cursor: pointer
.main-btn
    background: #ffb300
    border: navajowhite
    padding: 7px
    border-radius: 5px
    margin-top: 5px
    box-shadow: 1px 1px 5px #1547a64f
    cursor: pointer
    transition: .3s linear
.main-btn:hover
    background: #ffedc3
.main-btn:active
    background: #ff1e00

.material-preview-wrapper
    width: 100%

