.side-instrumental-panel
    overflow-y: scroll
    max-height: 350px
    li
        list-style: none
    img
        padding: 10px
        display: block
        margin: 0 auto
        width: 54px
.selected-item-preview
    position: absolute
    z-index: 100