<aside>
    <div id="selected-item" class="selected-item-preview" style="display: none;">
        test
    </div>
    <div class="side-menu-wrapper">
        <div class="side-menu-top">
            <button class="main-btn">Save map</button>
        </div>
        <div>
            <h2>Set map size</h2>
            <form action="" name="map-size">
                <label for="">
                    <p>number of horizontal block </p>
                    <input name="horizontalBlock" type="number" required>
                </label>
                <label for="">
                    <p>number of vertical block </p>
                    <input name="verticalBlock" type="number" required>
                </label>
                <button type="submit">Set Map size</button>
            </form>
        </div>
        <ul id="side-instrumental-panel" class="side-instrumental-panel">

        </ul>
    </div>
</aside>