
.result-message-wrapper
    display: flex
    color: orange
    justify-content: center
    height: 80vh
    align-items: center
    p
        text-align: center
        font-size: 20px
    p:first-letter
        text-transform: uppercase


ul.show-result-area
    list-style: none
    li
        padding: 10px
        .rate-number
            color: red
            flex-basis: 5%
        .item-name
            color: orange
            flex-basis: 60%
        .item-coin
            color: green
            flex-basis: 15%
        .item-points
            color: orange
            flex-basis: 15%
        .item-date
            font-size: 10px
            color: grey
            flex-basis: 5%
        p
            display: flex
            font-size: 14px
            color: #bdbdbd
    li:nth-child(odd)
        background: #0a0713
        .save-load-buttons-list
            overflow: hidden
            height: auto
            background: #0a0713
            height: 10px
            position: relative
            display: list-item
            animation: load-preview-pics .8s linear forwards
    li:nth-child(even)
        background: #0f0c1b
        .save-load-buttons-list
            height: auto
            overflow: hidden
            background: #0f0c1b
            height: 10px
            position: relative
            display: list-item
            animation: load-preview-pics .8s linear forwards


@keyframes load-preview-pics
    0%
        min-height: 0px
        background: #161325
    99%
        min-height: 400px
        background: #0a0713
    100%
        height: auto
