@import '~/../canvas.sass'
@import '~/../buttons.sass'
@import '~/../form-style.sass'


body
  font-family: 'Roboto'
  color: $white-color
  background: $main-color
  margin: 0
  padding: 0
  @include canvas-propertyes
  -khtml-user-select: none;
  user-select: none;

.static-wrapper
  display: flex
  position: absolute
  top: 0
  width: 100vw
  asside.menu-backgroud
    background: #2f2231
  asside
    z-index: 10
    .main-menu
      top: 10px
      ul
        display: block
        top: 105px
        position: relative
        text-shadow: 0px 0px 6px rgba(92,2,108, .5)
        li
          min-width: 160px
          padding: 10px
          list-style: none
        li::first-letter
        text-transform: uppercase
        a
          color: $orange-color
          text-decoration: none
          font-size: 17px
        a:active
          color: red


.content-wrapper
  width: 100%
  max-height: 100vh
  overflow-y: scroll
  z-index: 1100
  .menu-pages-wrapper
    background: #161325
    margin-top: -20px
    min-height: 100vh
    padding: 20px

.content-wrapper::-webkit-scrollbar
  width: 12px


.content-wrapper::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0)
  border-radius: 10px


.content-wrapper::-webkit-scrollbar-thumb
  border-radius: 10px
  background: rgba(71,6,83,0.8)
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1)

.content-wrapper::-webkit-scrollbar-thumb:window-inactive
	background: rgba(255,0,0,0.1)



.dialog-box
  position: absolute
  margin: 0 auto
  padding: 10px
  min-width: 100%
  min-height: 100vh
  position: fixed
  left: 0

  .dialog-wrapper
    display: flex
    height: 100vh
    justify-content: center
    align-items: center

    .dialog-window
      background: $window-color
      padding: 20px
      min-width: 300px
      min-height: 80px
      border-radius: $border-radius
      @include save-form

      div
        padding: 10px

      .dialog-bottom-area
        display: flex
        justify-content: space-evenly;
        @include accept-btn
        @include reject-btn

.dialog-btn-area
  display: flex
  justify-content: space-evenly;
  @include accept-btn
  @include reject-btn

#wrapper
  section
    z-index: 5;
    top: 0

.gameBackground
  background: #000

.game-fields
  position: absolute

.game-field-wrapper
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

.hide-menu
  display: none