@import '~/../../page-style/page-asets.sass'
@import '~/../buttons.sass'


.shop-wrapper
    z-index: 1000
    //background: #481b0e
    width: 90%
    border-radius: 10px
    padding: 20px
    max-height: 72vh
    //overflow-y: scroll
    background-size: cover
    .shop-frame
      position: absolute
      width: 62%
      height: fit-content
    h1
      text-align: center
    .hangar-body-wrapper
      z-index: 1000
      position: relative
    .shop-header
      //top: 0
      //position: sticky
      margin-top: -48px
      position: absolute
      width: 62%
      background-repeat: no-repeat
      z-index: 200
    .external-btn
      position: absolute
      z-index: 2000
      margin-top: -39px
      min-width: 160px
      height: 38px

    .shop-menu-wrapper
      display: flex
      justify-content: space-around
      margin-top: -12px
      padding: 20px
    .item-descripton
      width: 100px
      height: fit-content
      font-size: 10px
      background: rgba(47, 24, 51, 0.81)
      position: absolute
      padding: 5px
      border-radius: 5px
      z-index: 2500

    .item-dragable-picture
      width: 120px
      height: 94px
      font-size: 10px
      position: absolute
      z-index: 2500

    .shop-sale-part
      width: 100%
      height: 50px
      background: #ff0000
      .sale-inner-item
        img
          width: 100%
    .inner-shop-wrapper
      display: flex
    .display-area-wrapper
      background-repeat-x: no-repeat
      width: 70%
      height: 527
      canvas
        background-size: cover
    .right-side-inventory
      width: 25%
      height: fit-content
      justify-content: center
      display: flex
      flex-wrap: wrap
      position: fixed
      right: 50px
      background-size: contain
      .inventory-selected-items
        background: orange

      .inventory-item
        height: 93px
        width: 44%
        padding: 5px
        .inventory-inner-item
          width: 100%
          height: 100%
          background: rgba(43, 31, 40, 0.8)
          border-radius: 7px
          img
            width: 100%

    .display-shop-items

        display: flex
        flex-flow: wrap
        transform: scale(0.98)
        margin: 0 auto
        margin-top: 88px
        .current-ship
          border: 2px solid rebeccapurple
          box-sizing: border-box
        .card-regular-description-wrapper
          font-size: 12px

        .shipyard-item
            width: 100%
            margin: 1%
            background-size: cover
            max-height: 360px
            overflow-y: scroll
            img
              width: 55
        h2
          display: flex

        .current-ship-label
          width: 120px
          padding-left: 10%

        .card-body
          display: flex
          flex-flow: wrap
          flex-wrap: wrap
          justify-content: space-evenly
          background: #330044
          font-size: 12px

        .shop-card
            width: calc(#{100%}/4.4)
            margin: 1%
            background-size: cover
            height: 358px
        .inner-card
            padding: 10px
        img
          width: 55%
          margin: 0 auto
          display: block


.shop-buttom
  margin-top: 21%
  position: relative

.btn-to-right
  float: right

.btn-to-left
  float: left

.shipyard-item::-webkit-scrollbar
  width: 12px


.shipyard-item::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0)
  border-radius: 10px


.shipyard-item::-webkit-scrollbar-thumb
  border-radius: 10px
  background: rgba(71,6,83,0.8)
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1)

.shipyard-item::-webkit-scrollbar-thumb:window-inactive
	background: rgba(255,0,0,0.1)

.shop-dialog
    z-index: 1010
    background: #bbb
    position: absolute
    padding: 20px
    width: 400px