@import '~/../../page-style/page-asets.sass'
@import '~/../buttons.sass'


.shop-wrapper
    z-index: 1000
    background: #481b0e
    width: 90%
    border-radius: 10px
    padding: 20px
    max-height: 84vh
    overflow-y: scroll
    .item-descripton
      width: 100px
      height: fit-content
      font-size: 10px;
      background: rgba(47, 24, 51, 0.81)
      position: absolute
      padding: 5px
      border-radius: 5px

    .item-dragable-picture
      width: 100px
      height: 100px
      font-size: 10px
      position: absolute

    .shop-sale-part
      width: 100%
      height: 50px
      background: #ff0000
      .sale-inner-item
        img
          width: 100%
    .inner-shop-wrapper
      display: flex
    .display-area-wrapper
      width: 70%

    .right-side-inventory
      width: 25%
      height: fit-content
      background: #000
      justify-content: center
      display: flex
      flex-wrap: wrap
      position: fixed
      right: 50px
      .inventory-selected-items
        background: orange

      .inventory-item
        height: 93px
        width: 44%
        padding: 5px
        .inventory-inner-item
          width: 100%
          height: 100%
          background: rgba(83, 6, 59, 0.8)
          border-radius: 7px
          img
            width: 100%

    .display-shop-items

        display: flex
        flex-flow: wrap
        .current-ship
          border: 2px solid rebeccapurple
          box-sizing: border-box
        .card-regular-description-wrapper
          font-size: 12px
        .shipyard-item
            width: 100%
            margin: 1%
            background-size: cover
            img
              width: 55
        h2
          display: flex

        .current-ship-label
          width: 120px
          padding-left: 10%

        .card-body
          display: flex
          flex-flow: wrap
          flex-wrap: wrap
          justify-content: space-evenly
          background: #330044
          font-size: 12px

        .shop-card
            width: calc(#{100%}/4.4)
            margin: 1%
            background-size: cover
        .inner-card
            padding: 10px
        img
          width: 78%
          margin: 0 auto
          display: block

.shop-wrapper::-webkit-scrollbar
  width: 12px


.shop-wrapper::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0)
  border-radius: 10px


.shop-wrapper::-webkit-scrollbar-thumb
  border-radius: 10px
  background: rgba(71,6,83,0.8)
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1)

.shop-wrapper::-webkit-scrollbar-thumb:window-inactive
	background: rgba(255,0,0,0.1)

.shop-dialog
    z-index: 1010
    background: #bbb
    position: absolute
    padding: 20px
    width: 400px