$body-color: orange
$main-color: #333
$white-color: #ffffff
$orange-color: #ffc800

$accept-color: #4B99AE
$reject-color: #945E75
$neutral-color: #847079

$window-color: #340054
$border-radius: 5px

$button-width: calc(100% / 3)

