$body-color: orange
$main-color: #333
$white-color: #ffffff
$orange-color: #EA6C00

$accept-color: #4bae60
$reject-color: #b9004f
$neutral-color: #847079

$left-menu-gradient: linear-gradient(232deg, rgba(47,34,49,1) 0%, rgba(39,15,46,1) 35%, rgba(19,19,37,1) 100%)
$right-page-gradient: linear-gradient(232deg, rgba(30,26,50,1) 0%, rgba(22,19,37,1) 57%, rgba(32,19,38,1) 100%)

$window-color: #292c35
$border-radius: 5px

$button-width: calc(100% / 3)

$main-shadow-box: -3px 3px 10px rgba(0, 0, 0, 0.7)


@mixin reject-text
    border: 1px solid red
    color: red

@mixin warning-text
    border: 1px solid yellow
    color: yellow

@mixin success-text
    border: 1px solid green
    color: green

